
{% extends 'is_fraud/layout.html' %}

{% block content%}
<h1>Signature fraud detector</h1>
<a href='./form' class='btn btn-primary'> Add new signatures</a> 
<br/> 


<p>
  <div class="input-field col s6">
   <select id='names' class="browser-default" >
  	<option> Select the Signatures of </option>
    {% for obj in signs %}
      <option>
        <a href="{{ obj.sign.url }}">{{ obj.name }}</a>
       <!--  <small>(Uploaded at: {{ obj.uploaded_at }})</small> -->
      </option>
    {% endfor %}
  </select>
  </div>
</p>
   
Check signature : 
<form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   <div class="waves-effect waves-light btn" id="browse-container">
  	 <input type="file" id="browse-button" accept="image/*">
   </div>
   <div class="card uf-card">
    Selected
        <img class="card crop" id="img-card" width=200 />
    Original
        <img class="card crop" id="img-card2" width=200 />
   </div>
    <div class="waves-effect waves-light btn" id="upload-button">
        <span>Is it fraud? </span>
    </div>

	<div id='stat-table'></div>
</form>

  <div id="modal1" class="modal">
      <div class="modal-content">
        <div style="width: 100%; overflow: hidden;">
          <div style="width: 100px; float: left;">
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="loading-text">
            <h5>Loading...</h5></div>
        </div>
      </div>
    </div>


{% endblock %}
