<!DOCTYPE html>
<html>
<head>
<title>Fraud sign detector</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</head>
<body>
<div class='container'>
	{% block content%}
	{% endblock %}

<script type="text/javascript">
$(document).ready(function() {

  $("#browse-button").change(function() {
    loadImage($("#browse-button").prop("files")[0]);
  });

  $('.modal').modal({

    dismissible: false,
    ready: function(modal, trigger) {
      console.log($("#names option:selected").text());
      $.ajax({
        type: "POST",
        url: '/is_fraud/classify/',
        data: {
          'image64': $('#img-card').attr('src'),

          'name': $("#names option:selected").text()
        },
        dataType: 'text',
        success: function(data) {
          loadStats(data)
        }
      }).always(function() {
        modal.modal('close');
      });
    }
  });


  $('#upload-button').click(function() {
    $('.modal').modal('open');
  });
});

switchCard = function(cardNo) {
  var containers = [".dd-container", ".uf-container", ".dt-container"];
  var visibleContainer = containers[cardNo];
  for (var i = 0; i < containers.length; i++) {
    var oz = (containers[i] === visibleContainer) ? '1' : '0';
    $(containers[i]).animate({
      opacity: oz
    }, {
      duration: 200,
      queue: false,
    }).css("z-index", oz);
  }
}
loadImage = function(file) {
  var reader = new FileReader();
  reader.onload = function(event) {
    $('#img-card').attr('src', event.target.result);
  }
  reader.readAsDataURL(file);
  switchCard(1);
}	

loadStats = function(jsonData) {
  switchCard(2);
  var data = JSON.parse(jsonData);
  if (data["success"] == true) {
  	  console.log(data['confidence'])
      var percent = data["confidence"];
      var markup = `
      <div class="card">
        <div class="card-content black-text stat-card">
          <p><b> Threshold to be original = 0.7</b> </p> <br/> 

          <p style="float: left;">Signature appears to be  <b>` + data['result'] + '</b> with confidence <b>' + percent + `</b> </p>
        </div>
      </div>`;
      var original = `/`+ data['original_sign_url'].split('/').slice(-3).join('/');
      $('#img-card2').attr('src', original);
      $("#stat-table").empty();
      $("#stat-table").append(markup);

  }
}
</script>
</div>
</body>
</html>