{% extends 'is_fraud/layout.html' %}

{% block content %}
<div class='card' style='padding:10px;'>
	<h2>Add signature</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
</div>
{% endblock %}